<div id ="home">
    <div id= "description">
    <h2>Hi</h2>
    <p > I'm a web developper <br>I use ruby on rails </p>
    </div>
    <div id ="imghome">
    <%= image_tag "image1.jpg" %>
    </div>
</div>

<>