<h1>
    Bonjour  bienvenu sur mon site je suis developpeur full stack <br> ruby, ruby on rails html css
</h1>
<div class="conteneur">
    <%= image_tag asset_path('spaceImage.jpg'), alt: "Description de l'image" %>
    <p>
        Pendant les dix dernières années, j'ai plongé dans l'univers fascinant de Linux en autodidacte. <br> J'ai passé de longues heures à explorer ce système d'exploitation open source, à me familiariser avec ses commandes et à résoudre des problèmes. J'ai aimé sa flexibilité et sa liberté, qui m'ont permis de contrôler mon environnement informatique de A à Z et de comprendre comment cela fonctionnait. Parallèlement à mon apprentissage de Linux, j'ai également plongé dans l'univers du développement web. J'ai commencé avec les bases : le HTML et le CSS. J'ai trouvé une réelle satisfaction à créer des sites web visuellement attrayants et fonctionnels. Mais je ne me suis pas arrêté là. Après avoir acquis une certaine maîtrise du HTML et du CSS, j'ai décidé de me lancer dans le développement dynamique en apprenant le PHP et le Ruby. J'ai choisi de suivre une formation pour accélérer mon apprentissage. En un an, j'ai été en mesure de développer des compétences solides dans ces deux langages. Ce que
        j'apprécie le plus dans le monde du web et de Linux, c'est la possibilité de prendre en charge chaque étape du processus. <br> 
        Grâce à mes connaissances en Linux, je suis en mesure de gérer moi-même l'hébergement de mes sites web. Je peux configurer les serveurs, optimiser les performances et assurer la sécurité de mes applications en utilisant les compétences que j'ai acquises au fil des années. <br> Le sentiment de satisfaction que je ressens lorsque je peux voir mes créations en ligne, fonctionnant parfaitement sur mon propre serveur, est incomparable. <br>
        Linux et le développement web m'ont permis de concrétiser ma vision et de donner vie à mes idées. Je suis fier de ce parcours d'auto-apprentissage qui m'a permis de maîtriser Linux et de développer mes compétences en web development. <br>
        Je suis maintenant prêt à me lancer dans de nouveaux défis et à continuer d'explorer les possibilités infinies offertes par ces domaines passionnants <br>
    </p>
</div>

<div class="content">
    
    <div class="project">
        <p class = "Project">
            test
        </p>
        <p class = "Project">
            test
        </p>
        <p class = "Project">
            test
        </p>
        <p class = "Project">
            test
        </p>       
    </div>
    <div class="skill">
        <p class="Skills">
            Hardware
        </p>
        <p class="Skills">
            Linux
        </p>
        <p class="Skills">
            Html / css
        </p>
        <p class="Skills">
            Ruby / ruby on rails
        </p>
    </div>
</div>