/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require navbar
 */
:root {
    --background-color: #2d539a;
    --navbar-color: #4c71b7;
    --text-color: #f2f2ff;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
     font-family: sans-serif;
     background-color: var(--background-color);
}

#home {
    padding: 0 230px;
    height: 80vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#description {
    flex: 1; /* Permet au texte de prendre de l'espace disponible */
}

#description h2 {
    font-size: 50px;
    text-transform: capitalize;
    letter-spacing: 1.4px;
    font-weight: bold;
    line-height: 1.4;
    color: var(--text-color);
}

#description p {
    font-size: 24px;
    color: var(--text-color);
    line-height: 1.6;
    margin-top: 20px;
}

#imghome {
    flex: 1; /* Permet à l'image de prendre de l'espace disponible */
}

#imghome img {
    max-width: 100%; /* Assurez-vous que l'image ne dépasse pas la largeur de son conteneur */
    display: block; /* Supprime l'espace réservé pour la ligne de base du texte */
}


  
#form {
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    background-color: var(--background-color);
    color: var(--text-color);
}
  
.form-group {
    margin-bottom: 20px;
}
  
.form-control {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
  
label {
    font-weight: bold;
}
  
textarea {
    resize: vertical;
}
  
.btn {
    background-color: var(--navbar-color);
    color: var(--text-color);
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  